.number_input_row {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
}

.number_input_label {
    white-space: nowrap;
}

.number_input_controls {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.number_input_controls .form-group {
  margin: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.number_input_controls button {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number_input_controls input[type="number"] {
  width: 4rem;
  text-align: center;
  -moz-appearance: textfield;
  padding: .2rem;
}

.number_input {
  margin-block: 0.5rem;
}

.button_minus span {
  transform: translateY(-5px);
}

.button_plus span {
  transform: translateY(-2px);
}