.bslib-card, .card-body {
  overflow: visible !important;
}

.selectize-dropdown-content {
  max-height: 500px;
}
.tooltip-inner {
  white-space:pre-wrap;
  min-width: 300px;
}
#def_spd_stage, #atk_spa_stage {
  display:-webkit-inline-box;
  width:max-content;
  float:left;
  padding: .1rem .25rem;
}
#def_spd_stage-label, #atk_spa_stage-label {
  padding-left: 0.5rem
}
.form-switch {
  padding-left: 3rem}
/*
.form-switch .form-check-input {
  float:"right";
}
.form-switch{
  padding-left:0;
  padding-right:0;
}
.form-switch .form-check-input {
  float:right;
}
*/