.bslib-page-navbar {
  background: whitesmoke;
}

.w-auto {
  width: 100% !important
}

.form-group {
  margin-bottom: inherit;
}

.bslib-grid {
  padding: 0.2rem;
  margin: 0.2rem;
  gap: 0.2rem;
}

.io_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.io_row.top {
  align-items: top;
}

.right_bound_row {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.accordion {
  margin-top: 0.5rem;
}

.accordion_title, .accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding-right: .5rem;
}

.accordion-button {
  padding-right: 2rem;
  padding-left: 2rem;
}

.io_column, io_column_small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .5rem;
  padding: .5rem;
  gap: .2rem;
}

.io_column_small {
  padding-top: 0.2rem;
  gap: .1rem;
  justify-content: space-evenly;
}

.io_column.reverse {
  flex-direction: column-reverse;
}

.button_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.spread_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.big_buttons>div>div>label {
  font-size: 1.3rem;
}

.spread_row, .whole_row {
  display: flex;
  padding: .5rem;
}

.spread_row {
  justify-content: space-evenly;
  align-items: center;
}

.spread_row.top {
  align-items: start;
}

.whole_row {
  justify-content: space-between;
  align-items: top;
}

.top_layer_row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: top;
  gap: 3%;
}

.top_layer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: top;
  text-align: center;
  gap: 7%;
}

/* override default */
.shiny-input-container:not(.shiny-input-container-inline) {
  width: auto;
}

/* width: auto is sometimes too small */
div:has(.selectize-control) {
  min-width: 150px;
}

.action-button {
  padding-inline: .8em;
  padding-top: .4em;
  padding-bottom: .4em;
  font-size: .9rem;
}

pre {
  border-radius: 12px;
  border-color: black;
  background: orange;
  color: black;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: .3rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* for the accordion content indicator */
.noplaceholder {
  color: white;
  background:#009456 !important;
  border-radius: 25px !important;
}

/* inputs */

input[type="radio"], input[type="checkbox"]{
  display: none;
}

input[type="radio"]:checked +span, .form-check-input:checked +label {
  color: white;
  border-color: #007bc2;
}

input[type="radio"]:checked:hover +span, .form-check-input:checked:hover +label {
  color: black;
  border-color: black;
}

input[type="radio"]:checked +span {
  background: #007bc2;
}

#graph_style>div>.radio {
  margin: 1rem;
}

.form-check-input:checked +label {
  background:#009456;
}

label[for="is_stab"], label[for="is_crit"] {
  width: 5rem;
}

input[type="radio"] +span, .form-check-input +label {
  padding: 4px 9px;
  background: white;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.radio-inline>label, .radio>label {
  font-size: .85rem;
  padding: 0;
  margin: 0;
  padding: 0;
}

.radio>label>span, .radio-inline>label>span {
  display: block;
  border-radius: 0;
}

input[name="effectiveness"] +span, input[name="nature_plus_iv"] +span, input[name="nature_minus_iv"] +span {
 width: 4rem;
}

input[name="graph_style"] +span {
 width: 10rem;
}

.radio-inline, .radio  {
  padding: 0 !important;
  margin: 0 !important;
}

.bslib-input-switch, .shiny-input-container-inline {
  padding: 0;
  padding-left: .5rem !important;
  padding-right: .5rem;
  margin: auto;
  margin-top: .1rem;
  margin-bottom: .5rem;
  align-content: space-between;
}

.shiny-input-radiogroup>.shiny-options-group {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.shiny-input-radiogroup.shiny-input-container-inline {
  text-align: center;
}

.shiny-options-group:has(.radio) {
  display: flex;
  flex-direction: column;
}

.shiny-options-group>.radio:first-child>label>span {
  border-start-start-radius: 2rem !important;
  border-start-end-radius: 2rem !important;
}

.shiny-options-group>.radio:last-child>label>span {
  border-end-start-radius: 2rem !important;
  border-end-end-radius: 2rem !important;
}

.shiny-options-group>.radio-inline:first-child>span {
  border-start-start-radius: 2rem !important;
  border-end-start-radius: 2rem !important;
}

.shiny-options-group>.radio-inline:last-child>span {
  border-start-end-radius: 2rem !important;
  border-end-end-radius: 2rem !important;
}

.radio-inline>span {
  display: block;
  border-radius: 0 !important;
}

input[type="radio"]:hover +span {
  background: #BFDEF0;
}

input[type="checkbox"]:hover +label {
  background: #BFEEDA;
}

input[name="effectiveness"][value="4"]:checked +span{
  background: #009456 !important;
  color: white;
  border-color: black;
}

input[name="effectiveness"][value="4"]:hover +span{
  background: #80CAAB !important;
  color: black;
}

input[name="effectiveness"][value="2"]:checked +span, input[name="weather_modifier"][value="1.5"]:checked +span{
  background: #4E9E3A !important;
  color: white;
  border-color: black;
}

input[name="effectiveness"][value="2"]:hover +span, input[name="weather_modifier"][value="1.5"]:hover +span{
  background: #A7CF9D !important;
  color: black;
}

input[name="effectiveness"][value="1-"]:checked +span{
  background: #B38F00 !important;
  color: white;
  border-color: black;
}

input[name="effectiveness"][value="1-"]:hover +span{
  background: #D9C780 !important;
  color: black;
}

input[name="effectiveness"][value="0.5"]:checked +span, input[name="weather_modifier"][value="0.5"]:checked +span{
  background: #C65A1E !important;
  color: white;
  border-color: black;
}

input[name="effectiveness"][value="0.5"]:hover +span, input[name="weather_modifier"][value="0.5"]:hover +span{
  background: #E3AD8F !important;
  color: black;
}

input[name="effectiveness"][value="0.25"]:checked +span{
  background: #B3262E !important;
  color: white;
  border-color: black;
}

input[name="effectiveness"][value="0.25"]:hover +span{
  background: #D99397 !important;
  color: black;
}

.shiny-options-group {
  justify-content: space-between;
  margin-top: 0rem !important;
}

.form-switch {
  display: flex;
  justify-content: end;
}

.form-control {
  width: fit-content;
}

.shiny-input-container:not(.shiny-input-radiogroup):not(:has(.form-check-label)), .label_io_row {
  display: flex;
  justify-content: space-between;
}

/* tooltip */

.tag_and_tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tooltip.show {
  opacity: 1;
}

.centered_img_row>div {
  justify-content: center;
}

.tooltip_card {
  border-color: black;
  background: aliceblue;
}

.tooltip_card >.card-body {
  padding: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 0.2rem;
}

.tooltip {
  --bs-tooltip-max-width: 800px;
  --bs-tooltip-min-width: 700px;
  --bs-tooltip-font-size: 1rem;
}

.tooltip-inner {
  background-color: transparent;
  text-align: left;
}

.centered_img_row {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  padding-right: 6px;
}

.tooltip_img {
  padding: .1rem;
}

/* dropdowns */

.bslib-card, .card-body {
  overflow: visible !important;
}

.selectize-dropdown-content {
  max-height: 500px;
}

.close_distance {
  padding: 0;
  margin: 0;
}

.big_gap {
  gap: 6rem;
}

.small_gap {
  gap: 1rem;
}

.align_bottom {
  align-items: end;
}