.bslib-card, .card-body {
  overflow: visible !important;
}

.selectize-dropdown-content {
  max-height: 500px;
}

.tooltip-inner {
  white-space:pre-wrap;
  min-width: 550px;
  text-align: left;
}

input[type="radio"], input[type="checkbox"]{
  display: none;
}

input[type="radio"]:checked +span, .form-check-input:checked +label {
  color: white !important;
  border-color: #007bc2 !important;
}

input[type="radio"]:checked +span {
  background: #007bc2 !important;
}

.form-check-input:checked +label {
  background:#009456 !important;
}

input[type="radio"] +span, .form-check-input +label {
  padding: 4px 9px;
  background: white;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

input[type="radio"]:hover +span {
  background: #BFDEF0;
}

input[type="checkbox"]:hover +label {
  background: #BFEEDA;
}

.radio-inline, .bslib-input-switch {
  padding-left: 0rem !important;
}

.shiny-options-group {
  justify-content: space-between;
}

.form-control {
  width: fit-content;
}

.form-group:not(.shiny-input-radiogroup) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

shiny-options-group {
  justify-content: space-between;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: auto;
}

.bslib-gap-spacing  {
  align-items: center;
}

.shiny-input-container:has(.form-switch) {
  justify-content: end;
  display: flex;
}

.action-button {
  --bs-btn-padding-x: 1em;
  --bs-btn-padding-y: .5em;
  --bs-btn-font-size: .9rem;
}

div:has(.selectize-control) {
  min-width: 200px;
}